.summary {
  background-image: url(../../images/details.gif) !important;
}

.reading {
  background-image: url(../../images/article.gif) !important;
}

.post-go {
  background-image: url(../../images/post_go.gif) !important;
}

.tab-new {
  background-image: url(../../images/tab_new.gif) !important;
}

.feed-add {
  background-image: url(../../images/rss_add.gif) !important;
}

.feed-remove {
  background-image: url(../../images/rss_delete.gif) !important;
}

.feed-load {
  background-image: url(../../images/rss_load.gif) !important;
}

.details {
  background-image: url(../../images/details.gif) !important;
}

.open-all {
  background-image: url(../../images/tabs.gif) !important;
}

.feed {
  width: 16px;
  height: 16px;
  background-image: url(../../images/rss.gif) !important;
}